section.consultation__bg
    .consultation
        .d-flex.justify-content-between.align-items-end.flex-column.flex-md-row
            .consultation__wrapper.mx-auto.mx-md-0.mb-4.mb-md-0
                h2.consultation__title.mb-4 Появились вопросы?
                .consultation__subtitle Отправьте заявку на консультацию и наш специалист перезвонит Вам
            button.button_modal-window Оставить заявку
