section.container.container_advantage 
    .d-flex.flex-column.flex-lg-row
        .container__left
            h2.container__title Кто мы?
            .advantage__text Мы являемся крупнейшей компанией по ответственному хранению автомобилей на территории Москвы и Московской области.
        .container__advantages
            .advantage.col-xl-4.col-sm-6
                .d-flex
                    .advantage__img.mb-3(style="background: #5b5b5b url(img/star.png) no-repeat center / 24px")
                    h3.advantage__title Опыт работы
                        br
                        | более 11 лет
                .advantage__text Компания СВДА зарегистрирована в 2007 г. В 2017 году  мы праздновали первую круглую дату - нам 10 лет
            .advantage.col-xl-4.col-sm-6
                .d-flex
                    .advantage__img.mb-3(style="background: #5b5b5b url(img/star.png) no-repeat center / 24px")
                    h3.advantage__title Индивидуальный подход
                .advantage__text Мы являемся крупнейшей компанией по ответственному хранению автомобилей на территории Москвы и Московской области
            .advantage.col-xl-4.col-sm-6
                .d-flex
                    .advantage__img.mb-3(style="background: #5b5b5b url(img/star.png) no-repeat center / 24px")
                    h3.advantage__title Постоянный контроль качества
                .advantage__text Нашей компанией накоплен опыт по ответственному хранению новых и автомобилей с пробегом, принадлежащих предствительствам и дилерам
            .advantage.col-xl-4.col-sm-6
                .d-flex
                    .advantage__img(style="background: #5b5b5b url(img/star.png) no-repeat center / 24px")
                    h3.advantage__title Широкий
                        br
                        | спектр услуг
                .advantage__text Компания СВДА предлагает своим клиентам простые и логичные решения на основе большого практического опыта
            .advantage.col-xl-4.col-sm-6
                .d-flex
                    .advantage__img(style="background: #5b5b5b url(img/star.png) no-repeat center / 24px")
                    h3.advantage__title Нас
                        br
                        | рекомендуют
                .advantage__text Нашу команду уже смогли оценить такие компании как: «ФОЛЬКСВАГЕН Груп Рус», ALD Automotive, ВТБ-лизинг, ARVAL BNP PARIBAS GRUOP, Европлан
            .advantage.col-xl-4.col-sm-6
                .d-flex
                    .advantage__img(style="background: #5b5b5b url(img/star.png) no-repeat center / 24px")
                    h3.advantage__title Высококлассная
                        br
                        | команда
                .advantage__text Мы предоставляем клиентам комплекс услуг, связанных с хранением их парков и полным обслуживанием на высоком уровне
