header{
    font-family: "Helvetica Neue";
}

.header__top{
    background-color: #333333;
}

.header__top-inner{
    display: flex;
    max-width: 1140px;
    margin: 0px auto;
}

.header__logo{
    width: 195px;
    height: 65px;
    background-color: #efefef;
    display: flex;
    padding-left: 15px;
    justify-content: flex-start;
    align-items: center;
}

.header__logo-lg-none{
    display: none;
}

.header__calls-wrapper{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.header__calls-wrapper > div{
    display: flex;
    width: 239px;
    justify-content: space-between;
    align-items: center;
}

.header__call1{
    width: 66px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
}
.header__call2{
    width: 66px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cf000f;
}

.header__tel{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.header__icons{
    display: flex;
    width: 100%;
}

.header__backcall{
    padding: 0px 30px;
    background-color: #3d3d3d;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__backcall:hover{
    text-decoration: underline;
    color: #cf000f;
    cursor: pointer;
}

.header__user{
    width: 66px;
    height: 65px;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__user > div{
    width: 30px;
    height: 30px;
    background: url("img/user.png") no-repeat center / contain;
}

.header__search{
    width: 66px;
    height: 65px;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search > div{
    width: 30px;
    height: 30px;
    background: url("img/search.png") no-repeat center / contain;
}

.header__user:hover,.header__search:hover{
    background-color: #242424;
}

header nav{
    background-color: #efefef;
}

#headerNav{
    width: 100%;
}

#headerNav ul{
    max-width: 707px;
    flex-direction: row;
}

.header__nav-item{
    color: #333333;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.header__nav-item:hover{
    color: #1f3a93;
    text-decoration: none;
}

.header__nav-item_active{
    color: #cf000f;
}

.header__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__call2-wrapper #telshit{
    display: none;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .header__bottom{
        flex-direction: column;
    }
}

@media (max-width:992px),(max-device-width:992px) {
    .header__logo{
        width: 100%;
    }

    .header__user > div{
        width: 30px;
        height: 30px;
        background: url("img/user-gray.png") no-repeat center / contain;
    }
    .header__search > div{
        width: 30px;
        height: 30px;
        background: url("img/search-gray.png") no-repeat center / contain;
    }

    .header__top-inner{
        flex-direction: column;
        align-items: center;
    }


    .header__icons{
        min-width: 524px;
        justify-content: space-between;
        background: #efefef;
    }

    .header__user{
        background: #efefef;
        margin-left: auto;
    }

    .header__search{
        background: #efefef;
        margin-right: auto;
    }

    .header__backcall{
        display: none;
    }
}

@media (max-width:992px),(max-device-width:992px) {
    .header__logo{
        display: none;
    }



    .header__logo-lg-none{
        display: block;
        width: 195px;
        height: 65px;
        background-color: #efefef;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:767px),(max-device-width:767px) {
    .header__logo{
        justify-content: flex-start;
        padding-left: 15px;
    }

    .header__logo img{
        width: 120px;
    }
}

@media (max-width:620px),(max-device-width:620px) {
  #shit{
    display: none !important;
  }
  .header__call1-wrapper{
      display: none !important;
  }

  .header__call2-wrapper #telshit{
      display: block;
  }
}

@media (max-width:540px),(max-device-width:540px) {
    .header__icons{
        min-width: 95%;
    }

    .header__user{
        margin-left: 0px;
    }

    .header__search{
        margin-right: auto;
    }

    .header__calls-wrapper > div{
        width: auto;
    }

    .header__call1{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    .header__call2 img{
        width: 20px;
    }
}

@media (max-width:445px),(max-device-width:445px) {
    .header__title{
        max-width: 285px;
    }

    .header__tel{
        font-size: 13px;
    }

    .header__logo-lg-none{
        width: 158px;
    }

    .header__call2{
        display: none;
    }
}
