.container
    .d-flex
        .container__service
            h2.container__title Наши услуги
            
            .container__service-content
                h3.container__service-title Ответственное хранение автотранспорта
                .container__service-text
                    | Компания ООО «СВДА» предлагает услуги ответственного хранения легковых, грузовых автомобилей,  строительной и другой специальной техники, любой мототехники 
                    | (мотоциклы, квадроциклы, снегоходы и др.), водной техники (гидроциклы, катера) на строго охраняемых открытых и крытых (отапливаемых) площадках в Москве и Московской области. Площадки имеют всю необходимую инфраструктуру, технику, условия для разгрузки и погрузки автомобилей на автовоз или эвакуатор. На открытых площадках, регулярно производиться уборка территории (включая уборку снега в зимний период).
            
            .service__slider
                .service__slider-prev.service__slider_disabled
                a.service__slider-text(href="#") Узнать больше об ответственном хранении
                .service__slider-next
                
                
        .container__services-list
            .service.service_active
                .service__img(style='background: url("img/mashina-bg.png") no-repeat center / cover')
                .service__blackout
                .service__icon.service__icon_mashina
                .service__line
                .service__title Ответственное хранение 
                
            .service
                .service__img(style='background: url("img/torg-plochadka-bg.png") no-repeat center / cover')
                .service__blackout
                .service__icon.service__icon_torg-plochadka
                .service__line
                .service__title Торговая площадка  
                
            .service
                .service__img(style='background: url("img/shina-bg.png") no-repeat center / cover')
                .service__blackout
                .service__icon.service__icon_shina
                .service__line
                .service__title Хранение шин
                    br
                    | Шиномонтаж
                    br
                    | Продажа новых шин
                    
            .service
                .service__img(style='background: url("img/kluchi-bg.png") no-repeat center / cover')
                .service__blackout
                .service__icon.service__icon_kluchi
                .service__line
                .service__title Сервисное обслуживание
                  
            .service
                .service__img(style='background: url("img/diagnostic-bg.png") no-repeat center / cover')
                .service__blackout
                .service__icon.service__icon_diagnostic
                .service__line
                .service__title Дефектовка
                    br
                    | Диагностика 
                    br
                    | автомобилей
            
            .service
                .service__img(style='background: url("img/gibdd-bg.png") no-repeat center / cover')
                .service__blackout
                .service__icon.service__icon_gibdd
                .service__line
                .service__title Регистрационные действия в ГИБДД 
                
            .service
                .service__img(style='background: url("img/moyka-bg.png") no-repeat center / cover')
                .service__blackout
                .service__icon.service__icon_moyka
                .service__line
                .service__title Мойка / Химчистка Полировка 

            .service
                .service__img(style='background: url("img/molotok-bg.png") no-repeat center / cover')
                .service__blackout
                .service__icon.service__icon_molotok
                .service__line
                .service__title Независимая
                    br
                    | оценка
                    
            .service
                .service__img(style='background: url("img/marshrut-bg.png") no-repeat center / cover')
                .service__blackout
                .service__icon.service__icon_marshrut
                .service__line
                .service__title Доставка автомобилей
