.about-slider#about
    .about-slider__wrapper
        .about-slider__left
            h2.about-slider__title Мы являемся крупнейшей компанией по ответственному хранению автомобилей по Москве и области
            .about-slider__text Нашу команду уже смогли оценить такие компании как:
            .about-slider__text_bold «ФОЛЬКСВАГЕН Груп Рус», ALD Automotive, ВТБ-лизинг, ARVAL другие крупнейшие дилеры
            a.button.button_modal-window.d-inline-block(href="#", style="text-decoration:none;color:#fff;margin-top: 20px;margin-bottom:50px") Узнать больше
            .about-slider__nav
                .about-slider__nav-item.about-slider__nav-item_active 01
                .about-slider__line
                .about-slider__nav-item 02
                .about-slider__line
                .about-slider__nav-item 03
                .about-slider__line
                .about-slider__nav-item 04
        .about-slider__slider
            a.about-slider__item(style="background:url(img/about-slider-1.png) no-repeat center / cover", href="#")
                .d-flex.align-items-center
                    span 01
                    span.line
                h3 Рассмотрим помещение
                .text автосервиса с прилегающей территорией не менее 10 000 м2 
            a.about-slider__item(style="background:url(img/about-slider-1.png) no-repeat center / cover", href="#")
                .d-flex.align-items-center
                    span 02
                    span.line
                h3 Рассмотрим помещение
                .text автосервиса с прилегающей территорией не менее 10 000 м2 
            a.about-slider__item(style="background:url(img/about-slider-1.png) no-repeat center / cover", href="#")
                .d-flex.align-items-center
                    span 03
                    span.line
                h3 Рассмотрим помещение
                .text автосервиса с прилегающей территорией не менее  10 000 м2
            a.about-slider__item(style="background:url(img/about-slider-1.png) no-repeat center / cover", href="#")
                .d-flex.align-items-center
                    span 04
                    span.line
                h3 Рассмотрим помещение
                .text автосервиса с прилегающей территорией не менее  10 000 м2
                
