section.maps
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.89194409674!2d37.49970921626834!3d55.881888980588066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53833cd4b7021%3A0xc44395f1c5c463c8!2z0JjQttC-0YDRgdC60LDRjyDRg9C7LiwgNiwg0JzQvtGB0LrQstCwLCAxMjU1OTk!5e0!3m2!1sru!2sru!4v1525166061587" width="100%" height="550px" frameborder="0" style="border:0")
    .maps__row.maps__row_top
        h2.maps__title Адреса в москве
        a.maps__link(href="#") Перейти в контакты
    .maps__row
        .maps__item.maps__item_active(data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.89194409674!2d37.49970921626834!3d55.881888980588066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53833cd4b7021%3A0xc44395f1c5c463c8!2z0JjQttC-0YDRgdC60LDRjyDRg9C7LiwgNiwg0JzQvtGB0LrQstCwLCAxMjU1OTk!5e0!3m2!1sru!2sru!4v1525166061587")
            .maps__line
                .maps__position.maps__position_active
                .maps__text г. Москва, ул. Ижорская д. 6, стр. 33
            .maps__line
                .maps__time
                .maps__text Понедельник - пятница  9:00 - 18:00
            .maps__line
                .maps__phone
                a.maps__text(href="tel:+79253304272") + 7 (925) 330 42 72
                a.maps__text(href="tel:+74954860318") + 7 (495) 486 03 18
        .maps__item(data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2253.506100092247!2d37.2660571162601!3d55.610608980515615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5514d840f37d3%3A0xbea561ad775bf272!2z0JfQsNCy0L7QtNGB0LrQvtC1INGILiwgOSwg0JLQvdGD0LrQvtCy0L4sINCc0L7RgdC60LLQsCwgMTE5MDI3!5e0!3m2!1sru!2sru!4v1525166686358")
            .maps__line
                .maps__position
                .maps__text г. Москва, Заводское шоссе, д. 9
            .maps__line
                .maps__time
                .maps__text Понедельник - пятница  9:00 - 20:00
            .maps__line
                .maps__phone
                a.maps__text(href="tel:+79253304272") + 7 (925) 330 42 72
                a.maps__text(href="tel:+74954860318") + 7 (495) 486 03 18
        .maps__item(data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.0452781294257!2d37.612910651126526!3d55.75771565492867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5aabcde2ed%3A0x8582e80fabd33040!2z0KLQstC10YDRgdC60LDRjyDRg9C7LiwgMSwg0JzQvtGB0LrQstCwLCAxMjUwMDk!5e0!3m2!1sru!2sru!4v1525167121248")
            .maps__line
                .maps__position
                .maps__text г. Москва, ул. Тверская д. 1, стр. 5
            .maps__line
                .maps__time
                .maps__text Понедельник - пятница  10:00 - 17:00
            .maps__line
                .maps__phone
                a.maps__text(href="tel:+79253304272") + 7 (925) 330 42 72
                a.maps__text(href="tel:+74954860318") + 7 (495) 486 03 18
