section.feedback#feedback
    .feedback__wrapper
        h2.feedback__title ОТЗЫВЫ 
            br
            | О КОМПАНИИ
        .feedback__carousel.owl-carousel.owl-theme
            .feedback__item
                .d-flex.justify-content-between.mb-4.flex-column.flex-sm-row.align-items-center
                    img.feedback__logo.mb-3.mb-sm-0(src="img/feedback-logo.png", alt="ARVAL")
                    .feedback__author Арефьев А. И. Директор по закупкам, ремаркетингу и  региональному развитию 
                .feedback__text ООО «СВДА» продолжительное время является партнером ООО «Арвал» в области обслуживания и сопровождения лизингового автопарка компании. За это время ваша компания зарекомендовала себя стабильным и надежным партнером, обеспечивая высокую оперативность, надежность и гибкий подход к нашим потребностям, показала свою способность с полной ответственностью подходить к поставленным задачам, выполнять  обязательства качественно и в срок. 
                    | Отличительной чертой в работе ООО «СВДА» является системный подход к решению поставленных задач, высокий профессионализм, организованность сотрудников компании и сильный командный дух. С полной ответственностью рекомендую ООО «СВДА» как надежного и стабильного делового партнера.
                .feedback__showMore Дальше/Скрыть
            .feedback__item
                .d-flex.justify-content-between.mb-4.flex-column.flex-sm-row.align-items-center
                    img.feedback__logo.mb-3.mb-sm-0(src="img/feedback-logo.png", alt="ARVAL")
                    .feedback__author Арефьев А. И. Директор по закупкам, ремаркетингу и  региональному развитию 
                .feedback__text ООО «СВДА» продолжительное время является партнером ООО «Арвал» в области обслуживания и сопровождения лизингового автопарка компании. За это время ваша компания зарекомендовала себя стабильным и надежным партнером, обеспечивая высокую оперативность, надежность и гибкий подход к нашим потребностям, показала свою способность с полной ответственностью подходить к поставленным задачам, выполнять  обязательства качественно и в срок. 
                    | Отличительной чертой в работе ООО «СВДА» является системный подход к решению поставленных задач, высокий профессионализм, организованность сотрудников компании и сильный командный дух. С полной ответственностью рекомендую ООО «СВДА» как надежного и стабильного делового партнера.
                .feedback__showMore Дальше/Скрыть

                
