section.articles.container.px-0
    h2.articles__title ОТВЕТСТВЕННОЕ ХРАНЕНИЕ АВТОТРАНСПОРТА
    .article__row
        include articles-nav/articles-nav.jade
        include article/article.jade
        
