section.articles.container.px-0
    h2.articles__title ОТВЕТСТВЕННОЕ ХРАНЕНИЕ АВТОТРАНСПОРТА
    .articles__row
        .articles-nav-mobile.d-flex.d-xl-none ПОКАЗАТЬ ВСЕ УСЛУГИ
        include articles-nav/articles-nav.jade
        include article/article.jade
        
