.articles{
    margin-bottom: 50px;
}

.articles__title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

.articles__row {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.articles-nav-mobile{
    cursor: pointer;
    min-width: 60px;
    min-height: 60px;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    color: #033879;
    cursor: pointer;
}

.articles-nav_visible{
    left: 0px !important;
    background-color: #fff !important;
    border-right: 0px !important;
    z-index: 100;
}

@media (max-width:1200px), (max-device-width:1200px) {
    .articles-nav {
        position: absolute;
        left: -1000px;
    }
    .articles__row {
        padding: 0px 15px;
    }
}

@media (max-width:992px),(max-device-width:992px) {
    .articles{
        max-width: 100%;
    }
}


@media (max-width:767px),(max-device-width:767px) {
    .articles__title{
        margin: 15px 0px 40px 0px;
    }
}

@media (max-width:485px), (max-device-width:485px) {
    .articles__title {
        font-size: 20px;
        margin-bottom: 50px;
    }
}
