
.d-flex.flex-wrap.justify-content-around.justify-content-lg-between.px-3.container_miniservices
    .miniservice
        .miniservice__head
            .miniservice__img
                .miniservice__icon.service__icon_mashina
            .d-flex.flex-column.align-items-start.justify-content-between
                .miniservice__title Ответственное <br>хранение
                a.miniservice__link(href="#") Перейти к данной услуге
        .miniservice__body Круглосуточная охрана, видеонаблюдение  открытая стоянка 10 000 м2, теплые складские помещения 5 000 м2...
    .miniservice
        .miniservice__head
            .miniservice__img
                .miniservice__icon.service__icon_torg-plochadka
            .d-flex.flex-column.align-items-start.justify-content-between
                .miniservice__title Торговая <br>площадка
                a.miniservice__link(href="#") Перейти к данной услуге
        .miniservice__body Распродажа лизингового имущества бывшего в эксплуатации – автомобили и техника...
    .miniservice
        .miniservice__head
            .miniservice__img
                .miniservice__icon.service__icon_shina
            .d-flex.flex-column.align-items-start.justify-content-between
                .miniservice__title Хранение шин, шиномонтаж<br>Продажа новых шин
                a.miniservice__link(href="#") Перейти к данной услуге
        .miniservice__body Высококлассные сервисмены, несколько раз в год проходящие обучающие технические тренинги и семинары у производителей...
    .miniservice
        .miniservice__head
            .miniservice__img
                .miniservice__icon.service__icon_kluchi
            .d-flex.flex-column.align-items-start.justify-content-between
                .miniservice__title Сервисное<br>обслуживание
                a.miniservice__link(href="#") Перейти к данной услуге
        .miniservice__body Периодическое обслуживание, во время которого требуется разборка машины согласно инструкции по применению...
    .miniservice
        .miniservice__head
            .miniservice__img
                .miniservice__icon.service__icon_diagnostic
            .d-flex.flex-column.align-items-start.justify-content-between
                .miniservice__title Дефектовка и диагностика<br>автомобилей 
                a.miniservice__link(href="#") Перейти к данной услуге
        .miniservice__body В основном дефектовка требуется автомобилю после аварии, чтобы определить стоимость ремонта...
    .miniservice
        .miniservice__head
            .miniservice__img
                .miniservice__icon.service__icon_gibdd
            .d-flex.flex-column.align-items-start.justify-content-between
                .miniservice__title Регистрационные<br>действия в ГИБДД
                a.miniservice__link(href="#") Перейти к данной услуге
        .miniservice__body В соответствии с Законом «Об автомобильных дорогах и о дорожной деятельности в Российской Федерации»
    .miniservice
        .miniservice__head
            .miniservice__img
                .miniservice__icon.service__icon_moyka
            .d-flex.flex-column.align-items-start.justify-content-between
                .miniservice__title Мойка<br>Химчистка / Полировка 
                a.miniservice__link(href="#") Перейти к данной услуге
        .miniservice__body Удаление загрязнений осуществляется с использованием специальных сильнодействующих моющих веществ ...
    .miniservice
        .miniservice__head
            .miniservice__img
                .miniservice__icon.service__icon_molotok
            .d-flex.flex-column.align-items-start.justify-content-between
                .miniservice__title Независимая<br>оценка 
                a.miniservice__link(href="#") Перейти к данной услуге
        .miniservice__body  Целью оценки автомобиля является определение рыночной стоимости и оценка состояния...
    .miniservice
        .miniservice__head
            .miniservice__img
                .miniservice__icon.service__icon_marshrut
            .d-flex.flex-column.align-items-start.justify-content-between
                .miniservice__title Доставка<br>автомобилей
                a.miniservice__link(href="#") Перейти к данной услуге
        .miniservice__body Предлагает услуги доставки или возврата автомобилей: эвакуатором, автовозом или персональными водителями...