doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body.text-center.text-md-left
        include ../blocks/header/header.jade
            
        main
            include ../blocks/advantage/advantage.jade
            include ../blocks/feedback/feedback.jade
            include ../blocks/consultation/consultation.jade
            include ../blocks/maps/maps.jade
            
        include ../blocks/footer/footer.jade
        include ../blocks/modal-window/modal-window.jade
