doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body.text-center.text-md-left
        include ../blocks/header/header.jade
            
        main
            include ../blocks/breadcrumbs/breadcrumbs.jade
            include ../blocks/feedback/feedback.jade
            include ../blocks/modal-window/modal-window.jade
            
        
        include ../blocks/footer/footer.jade
