.navigation
    a.navigation__top(href="#top")
    a.navigation__link(href="#service") Услуги
    a.navigation__link.navigation__link_active(href="#advantage") Кто мы
    a.navigation__link(href="#feedback") Отзывы
    a.navigation__link(href="#maps") Контакты
    a.navigation__bottom(href="#bottom")
