.container_breadcrumbs{
    background-color: #fafafa;
}

.container__left{
    width: 267px;
    padding-right: 25px;
    border-right: 2px solid #1f3a93;
}

.container__title{
    color: #333333;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 30px;
}

.container__advantages{
    max-width: 843px;
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    flex-wrap: wrap;
}

.container__service{
    max-width: 474px;
    padding-top: 50px;
    border-top: 2px solid #1f3a93;
    margin-right: 97px;
}

@media (max-width:992px),(max-device-width:992px) {
    .container__service{
        margin: 0 auto;
    }
}

.container__service-title{
    color: #000000;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    margin-bottom: 17px;
}

.container__service-text{
    color: #444444;
    font-family: "Open Sans";
    line-height: 28px;
}

.container__services-list{
    max-width: 640px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: -8px;
}

@media (max-width:1200px) and (min-width:992px),(max-device-width:1200px) and (min-device-width:992px) {
    .container__services-list{
        max-width: 408px;
    }
}

@media (max-width:422px),(max-device-width:422px) {
    .container__services-list{
        display: none;
    }
}

@media (max-width:992px),(max-device-width:992px) {
    .container__left{
        text-align: center;
        margin-bottom: 30px;
        padding: 0px;
        width: auto;
        border: none !important;
    }

    .container__advantages{
        width: auto;
        justify-content: space-around;
        margin: 0px;
    }
}
