footer(id="bottom")
    .container
        nav.navbar.navbar-expand-sm.py-0.px-0.d-flex.justify-content-center
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#footerNav', aria-controls='footerNav', aria-expanded='false', aria-label='Toggle navigation')
                i.fas.fa-align-justify(style="color:#fff") 
                span.pl-2.text-white Меню
        
            #footerNav.collapse.navbar-collapse        
                .row.justify-content-around
                    .col-md-5.mb-4.mb-md-0.px-0
                        img.img-fluid(src='img/footer-logo.png',alt="СВДА")
                        img.img-fluid.mt-2(src='img/footer-title.png',alt="СВДА")
                        
                        .d-flex.mt-4.justify-content-center.justify-content-md-start
                            a.footer__call(href="#")
                                img(src="img/call2.png", alt="тел")
                            .footer__backcall Заказать обратный звонок
                            
                        .d-flex.mt-4.justify-content-around.justify-content-md-between.align-items-center.footer__socials
                            .footer__label Мы в социальных сетях:
                            a.fb-icon(href="#")
                            a.yt-icon(href="#")
                      
                    .col-md-2.col-sm-6.px-0
                        ul.footer__list
                            li.footer__item.text-uppercase
                                a(href="#") Главная
                            li.footer__item.text-uppercase
                                a(href="#") Площадки
                            li.footer__item.text-uppercase
                                a(href="#") Партнерам
                            li.footer__item.text-uppercase
                                a(href="#") О компании
                            li.footer__item.text-uppercase
                                a(href="#") Новости
                            li.footer__item.text-uppercase
                                a(href="#") Отзывы
                            li.footer__item.text-uppercase
                                a(href="#") Вакансии
                            li.footer__item.text-uppercase
                                a(href="#") Видео
                            li.footer__item.text-uppercase
                                a(href="#") Контакты
                                
                                
                    .col-md-3.col-sm-6.px-0
                        ul.footer__list
                            li.footer__item
                                a(href="#") Услуги
                            li.footer__item
                                a(href="#") Ответственное хранение
                            li.footer__item
                                a(href="#") Хранение шин
                            li.footer__item
                                a(href="#") Запчасти / продажа новых шин
                            li.footer__item
                                a(href="#") Сервисное обслуживание
                            li.footer__item
                                a(href="#") Дефектовка / диагностика
                            li.footer__item
                                a(href="#") Регистрационные действия
                            li.footer__item
                                a(href="#") Мойка / химчистка / полировка
                            li.footer__item
                                a(href="#") Независимая оценка
                            li.footer__item
                                a(href="#") Доставка автомобилей
                        
.footer__bottom 
    .container.d-flex.justify-content-between.align-items-center.flex-column.flex-lg-row
        span © 2017 СВДА. Система возможностей для автопарков. Все права защищены
        .d-flex
            span.mr-3 Сайт разработан
            a(href="http://web-comp.ru")
                img(src="img/web-comp.png", alt="web-comp.ru", style="filter:contrast(0%)")
