ul.articles-nav
    li.articles-nav__item.articles-nav__item_active
        a(href="#") Ответственное хранение автомобилей
    li.articles-nav__item
        a(href="#") Торговая площадка
    li.articles-nav__item
        a(href="#") Хранение шин / Шиномонтаж / 
            br
            | Продажа новых шин
    li.articles-nav__item
        a(href="#") Сервисное обслуживание
    li.articles-nav__item
        a(href="#") Регистрационные действия в ГИБДД
    li.articles-nav__item
        a(href="#") Дефектовка и диагностика
    li.articles-nav__item
        a(href="#") Дефектовка и диагностика
    li.articles-nav__item
        a(href="#") Мойка / Химчистка / Полировка
    li.articles-nav__item
        a(href="#") Независимая оценка
    li.articles-nav__item
        a(href="#") Доставка автомобилей
