.articles-nav{
    max-width: 330px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-right: 30px;
    border-right: 2px solid #1f3a93;
}

.articles-nav__item{
    background-color: #fafafa;
    padding: 14px 12px;
    width: 100%;
    margin-bottom: 3px;
}

.articles-nav__item a{
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
}

.articles-nav__item_active{
    background-color: #888888;
}

.articles-nav__item_active a{
    color: #ffffff;
}

.articles-nav-close{
    display: none;
    cursor: pointer;
    margin-left: auto;
    width: 30px;
    height: 30px;
    background: url("img/close_red.png") no-repeat 95% center / 30px 30px;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .articles-nav-close{
        display: block;
    }
}
