button{
    outline: none;
    cursor: pointer;
}

.button_modal-window{
    background: url("img/modal-arrow.png") no-repeat 87% center / 7px 12px;
    background-color: #cf000f;
    border-radius: 20px;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    display: block;
    margin: 0px auto;
    border: none;
    padding: 14px 42px 14px 20px;
}
